# Dependencias y artefactos de compilación
node_modules/
dist/
build/icon.icns
build/icon.ico

# Datos y registros locales
*.log

# Editores / IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db
